name: CI Workflow

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]


jobs:
  build:
    name: pipeline
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.6", "3.7", "3.8", "3.9"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox virtualenv setuptools
      - name: run tox
        run: tox -e py
